/* HTML ELEMENTS */
p, a, label {
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
h1 {
	color: white;
	font-size: 2.2em;
	text-shadow: 1px 1px 2px black;
}
h2 {
	color: #777;
	font-size: 2em;
}

/* PAGE HEADER */
.page-header {
    align-items: center;
	background: #BE2C2C;
	border: none;
	border-radius: 0px;
	color: rgba(230, 230, 230, 1);
    display: flex;
	font-family: Source Sans Pro;
	font-size: 1.5em;
	font-style: normal;
	font-weight: 600;
	height: 60px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	padding-left: 10px;
	margin: 0;
	padding: 0;
}

.page-header span.title {
	margin-left: 20px;
}

.page-header img {
	margin: 0 1px;
    height: 48px;
    width: 48px;
    padding: 10px 0 0 0;
}
.page-header img:hover {
	margin: 0 0;
    height: 50px;
    width: 50px;
}

/* ACCORDION THAT DISPLAYS THE DISHES AND RESTAURANTS */
.accordion {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
}
.accordion .ui-accordion-header {
    align-items: center;
	background-color: #BE2C2C;
	border: none;
	border-radius: 0px;
	color: white;
    display: flex;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: 600;
	height: 60px;
}
.accordion .ui-accordion-header a {
	color: #white;
}
.accordion .ui-accordion-header.ui-state-active {
	background-color: #eee;
}
.accordion .ui-accordion-header a {
	color: white;
	width: 100%;
	text-decoration: none;
}
.accordion .ui-accordion-header.ui-state-active a {
	color: #777;
}
.accordion .list-group-item {
	min-height: 80px;
}
.accordion-image {
	height: 50px;
	width: 50px;
}
.accordion-description {
	width: 70%;
	min-width: 70%;
}

/* RATING BOX */
.rating {
	background-color: #BE2C2C;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
}
.rating.r1 {
	font-size: 1.6em;
}
.rating.r2 {
	padding: 2px 2px;
	font-size: 0.8em;
}

/* ADJUSTMENT FOR TABLE-STYLED ELEMENTS */
.is-table-row {
  display: table;
}
.is-table-row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

/* VARIED CLASSES */
.profile-image {
	height: 32px;
	width: 32px;
}
.center-text {
  text-align: center;
}

