/* You can add global styles to this file, and also import other style files */
p, a, label {
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: 0.03em;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
}

/* PAGE HEADER */
.page-header {
    align-items: center;
	background: #BE2C2C;
	border: none;
	border-radius: 0px;
	color: rgba(230, 230, 230, 1);
    display: flex;
	font-family: Source Sans Pro;
	font-size: 1.5em;
	font-style: normal;
	font-weight: 600;
	height: 60px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	padding-left: 10px;
	margin: 0;
	padding: 0;
}

.page-header span.title {
	margin-left: 20px;
}

.page-header img {
	margin: 0 1px;
    height: 48px;
    width: 48px;
    padding: 10px 0 0 0;
}
.page-header img:hover {
	margin: 0 0;
    height: 50px;
    width: 50px;
}

/* ACCORDION THAT DISPLAYS THE DISHES AND RESTAURANTS */
.accordion {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
}
.accordion .ui-accordion-header {
    align-items: center;
	background-color: #BE2C2C;
	border: none;
	border-radius: 0px;
	color: white;
    display: flex;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: 600;
	height: 60px;
}
.accordion .ui-accordion-header a {
	color: #white;
}
.accordion .ui-accordion-header.ui-state-active {
	background-color: #eee;
}
.accordion .ui-accordion-header a {
	color: white;
	width: 100%;
	text-decoration: none;
}
.accordion .ui-accordion-header.ui-state-active a {
	color: #777;
}
.accordion .list-group-item {
	min-height: 80px;
}
.accordion-image {
	height: 50px;
	width: 50px;
}
.accordion-description {
	width: 70%;
	min-width: 70%;
}

/* ADJUSTMENT FOR TABLE-STYLED ELEMENTS */
.is-table-row {
  display: table;
}
.is-table-row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
