<div class="row">
  <div class="col-xs-12">
    <p>  Mock Home Page,<br>
      Please Select Customer</p>
  </div>
</div>
<div class="row">
 <div class="col-xs-12">
   <div class="list-group" style="max-height: 500px; height: 100%;overflow-y: scroll;">
     <a *ngFor="let customer of customers" class="list-group-item {{isCurrentCustomer(customer)}}"
        (click)="setCurrentCustomer(customer)">{{customer.firstName}}
       {{customer.lastName}} -
       {{customer.dishCoin}}</a>
   </div>
 </div>


</div>
