<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <span class="title">Please select a customer:</span>
    </div>
  </div>
</div>
<div class="row">
 <div class="col-xs-12">
   <div class="list-group" style="max-height: 500px; height: 100%;overflow-y: scroll;">
     <a *ngFor="let customer of customers" class="list-group-item {{isCurrentCustomer(customer)}}"
        (click)="setCurrentCustomer(customer)">
       <div class="row">
         <div class="col-xs-6">
           <p >{{customer.firstName}} {{customer.lastName}}</p>
         </div>
         <div class="col-xs-6">
           <p class="center-text">DishCoins: {{customer.dishCoin}}</p>
         </div>

       </div>
       </a>
   </div>
 </div>


</div>
