<div class="row">
  <div class="col-xs-12">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" [formControl]="textControl" placeholder="Search...">
    </div>

  </div>
</div>
<div class="row"
     *ngIf="searchService.currentText!=='' && (searchService.currentDishesLines+searchService.currentRestaurantLines!==0)">
  <div class="col-xs-12" style="">
    <app-dish-list [dishes]="searchService.currentDishesSearch" (scroll)="searchService.loadDishes()"></app-dish-list>
    <app-restaurant-list [restaurants]="searchService.currentRestaurantSearch"
                     (scroll)="searchService.loadRestaurants()"></app-restaurant-list>
  </div>
</div>
<div class="row"
     *ngIf="searchService.currentText!=='' && (searchService.currentDishesLines+searchService.currentRestaurantLines===0)">
  <div class="col-xs-12">NO RESULTS FOUND</div>
</div>
<div class="row"
     *ngIf="searchService.currentText==='' || (searchService.currentDishesLines+searchService.currentRestaurantLines===0)">
  <div class="col-xs-12">CATEGORIES</div>
</div>
