<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}"><a routerLink="/">home</a></li>
        <li routerLinkActive="active"><a routerLink="/search">Search</a></li>
        <li routerLinkActive="active"><a routerLink="/orders">Orders</a></li>
        <li routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
