.nav-bar-button img {
	height: 32px;
	width: 32px;
	margin: 0 auto;
    left: 50%;
    display: block;
}

/*
.nav-bar-button:hover img {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background: url(../../assets/img/favorites-icon-active.svg) no-repeat;
	width: 32px;
	height: 32px;
    left: 50%;
}
*/
.nav-bar-button {
	color: #929292;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1em;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}
.nav-bar-button.inactive, .nav-bar-button.inactive:hover {
	color: #aaa;
}
.navbar-default span {
	align-items: center;
	display: block;
	height: 55px;
}

.navbar-centralizer {
	margin: 0 15% 0 20%;
}

.navbar-default {
	background: #FAFAFA;
	box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.35);
	border-radius: 0px;
	text-align: center;
}

.navbar-default ul {
	width: 65%;
}

.navbar-default ul li {
	display: block;
	width: 25%;
}